<a href="https://colab.research.google.com/github/ebro033/dz/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%BD%D0%B8%D0%BA_%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%82%D1%83%D1%80%D1%8B_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

В этой практике отрабатываем работу со структурами данных:

- Списки
- Кортежи
- Строки
- Множества
- Словари

А также попрактикуемся в использовании comprehensions.

### Блок 1

Отрабатываем умение работать со списками и производить различные операции над ними. В данном блоке заданий старайтесь проверять решение на разных списках, с разными значениями и разной длины, чтобы убедиться, что ваша программа - универсальна.

*Задача 0 - Перевернуть список*

Дан список значений. Поменяйте местами первую половину списка и вторую половину списка.

Проверьте, что ваш код:
- занимает не более трех строчек кода для одного списка (одна из которых предназначена для вывода результата на экран)
- используйте slicing

In [ ]:
# опробируйте на списках разной длины (попробуйте свои собственные эксперименты)
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [1, 2, 3, 4]

In [3]:
lst = [77777, 1, 2, 3, 4, 5, 6,456456, 111111,]
lst = lst[len(lst)//2:] + lst[:len(lst)//2]
print(lst)

[4, 5, 6, 456456, 111111, 77777, 1, 2, 3]

*Задача 1 - Сдвиг вправо*

Дан список значений. Циклически сдвиньте элементы списка вправо:

- `list[0]` переходит на `list[1]`
- `list[1]` на место `list[2]`
- и так далее
- последний элемент переходит на место `list[0]`

Используйте slicing

In [ ]:
list2 = [1, 2, 3, 4]

In [4]:
lst = [1, 2, 3, 4, 5, 11]
lst = lst[-1:] + lst[:-1]
print(lst)

[5, 1, 2, 3, 4]

*Задача 2 - Отрабатываем операции над списками*

В переменной `result` дан список. Произведите с ним следующие действия:
- Оставьте в нем первую половину элементов.
- Добавьте в текущий список столько же нулей, сколько сейчас элементов в `result`
- Предпоследний элемент сделайте равным 100
- Посчитайте сумму элементов в данном цикле и выведите ее на экран

На каждом шаге выводите промежуточный результат

In [ ]:
result = [1, 100, -100, 23, 13, 78, 89, 90, 100, 0]

In [7]:
result = [1, 2, 3,8, 19, 4, 5, 6, 7, 8]

result = result[:len(result)//2]
print(result)

# Добавляем столько же нулей, сколько сейчас элементов в result
result.extend([0] * len(result))
print(result)

result[-2] = 100

print(result)
sum_of_elements = sum(result)
print(sum_of_elements)

[1, 2, 3, 8, 19]
[1, 2, 3, 8, 19, 0, 0, 0, 0, 0]
[1, 2, 3, 8, 19, 0, 0, 0, 100, 0]
133

*Задача 3 - Перестановка минимума и максимума*

Дан список. С помощью кода найдите минимальные и максимальные элементы, переставьте их местами.
Для нахождения индекса элемента по значению воспользуйтесь функцией индекс.

In [10]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]  # Пример списка

min_v = min(lst)
max_v = max(lst)

index_min = lst.index(min_v)
index_max = lst.index(max_v)

lst[index_min], lst[index_max] = lst[index_max], lst[index_min]
print(lst)

[3, 9, 4, 1, 5, 1, 2, 6, 5, 3, 5]

In [9]:
# индекс несущствующего элемента
result.index(-1)

ValueError: ignored

[1, 100, 12345, 23, 13, 78, 89, 90, -1000, 0]

*Задача 4 - Соседи*

Дан список. Выведите все элементы списка, которые строго больше предыдущего элемента. Для итерирования по элементам списка используйте цикл.

In [ ]:
list3 = [1, 2, 100, 99, 88, -1 , 0, 0, 10]

In [12]:
lst = [1, 99, 2, 784, 4, 1112, 7, 8, 8, 9]  # Пример списка

for i in range(1, len(lst)):
    if lst[i] > lst[i-1]:
        print(lst[i])

99
784
1112
8
9

*Задача 5 - Найти все вхождения числа в список*

Пользователь вводит последовательность чисел в одну строку через пробел. Рассчитайте, сколько из введенных чисел равно единице.

In [13]:
input_string = input("Введите числа через пробел: ")
numbers = input_string.split()
count_ones = numbers.count('1')
print(f"Кол-во единиц: {count_ones}")

Введите числа через пробел: 1 4 5 7 3 78
Количество единиц: 1

*Задача 6 - Больше всех своих соседей (Дополнительная!)*

Пользователь вводит последовательность чисел в одну строку через пробел. Рассчитайте, сколько из чисел строго больше двух своих соседей. Также выведите эти самые числа на экран.

Введите список чисел через пробел: 1 10 9 -1 3 5 7 7 7 9 8 9 9
Список чисел: 10 9 Общее количество = 2

*Задача 7 - Проредить массив (Дополнительная!)*

Пользователь вводит последовательность чисел в одну строку через пробел. Создайте новый список, на базе исходного, в котором переставьте все нули списка в конец, а все ненулевые элементы оставьте в начале списка в том же порядке, в каком они были изначально. Выведите результат на экран.

In [14]:
input_string = input("Введите числа через пробел: ")
numbers = [int(i) for i in input_string.split()]

non = [num for num in numbers if num != 0]
zero = [0] * numbers.count(0)

result = non + zero
print(result)

Введите числа через пробел: 1 3 5 000 0 3
[1, 3, 5, 3, 0, 0]

### Блок 2

Отрабатываем умение работать с кортежами, множествами и словарями. В данном блоке заданий старайтесь проверять решение на разных наборах значений и разной длины, чтобы убедиться, что ваша программа - универсальна.

*Задача 0 - Общие элементы*

Даны два списка. Найдите элементы, которые есть и в первом списке и во втором, выведите их количество на экран

In [15]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = set(list1) & set(list2)
print(len(common_elements))

2

*Задача 1 - Уникальные элементы*

Пользователь вводит числа на экран в одну строку через пробел. Выведите, сколько уникальных чисел было введено.

In [16]:
input_string = input("Введите числа через пробел: ")
numbers = set(input_string.split())
print(f"Кол-во уникальных чисел: {len(numbers)}")

Введите числа через пробел: 1 2 3 54 6 4 2 9
Кол-во уникальных чисел: 7

*Задача 2 - Площадь*

Даны списки из 2 элементов, каждый из которых является координатами точек A и B соответственно. Напишите функцию, которая ищет расстояние между этими точками. Найти расстояние между двумя точками можно по формуле Евклидова расстояния.

https://ru.wikipedia.org/wiki/%D0%95%D0%B2%D0%BA%D0%BB%D0%B8%D0%B4%D0%BE%D0%B2%D0%B0_%D0%BC%D0%B5%D1%82%D1%80%D0%B8%D0%BA%D0%B0

PS. Попробуйте запустить программу на разных точках с разными размерностями

In [ ]:
coords = [(10, 10), (10, 11)]
# coords = [(100, 20), (20, 20)]
# coords = [(100, 91, 87), (80, 35, 70)]

In [ ]:
a = coords[0]
b = coords[1]
a[0] + b[0]

20

*Задача 3 - Количество повторений слов*

В переменной `text` записан некоторый текст. Посчитайте частотность появления каждого уникального слова в тексте. Используйте для хранения частотности наиболее подходящую структуру данных.

В результате выведите информацию по частотности каждого слова на экран.

Словом будем считать последовательности символов, отделенную пробелом от следующей последовательности символов.

In [ ]:
text = '''She sells sea shells on the sea shore \
The shells that she sells are sea shells I'm sure \
So if she sells sea shells on the sea shore \
I'm sure that the shells are sea shore shells'''

In [21]:
text = "В переменной text записан некоторый текст. Посчитайте частотность появления каждого уникального слова в тексте."

#разделяемтекст на слова
words = text.split()

frequency = {}

#считаем частотность
for word in words:
    if word in frequency:
        frequency[word] += 1
    else:
        frequency[word] = 1

for word, count in frequency.items():
    print(f"'{word}': {count}")

'В': 1
'переменной': 1
'text': 1
'записан': 1
'некоторый': 1
'текст.': 1
'Посчитайте': 1
'частотность': 1
'появления': 1
'каждого': 1
'уникального': 1
'слова': 1
'в': 1
'тексте.': 1

*Задача 4 - Средний балл*

В переменной `grades` записаны оценки учеников за экзамен по физике в разных классах одной параллели. Рассчитайте средний балл по каждому классу, и средний балл по параллели целиком. Выведите результаты на экран, округлив все значения с точностью до 2 знаков.

In [22]:
grades = {
    '10А': [5, 4, 2, 5, 2],
    '10Б': [4, 2, 4, 3, 5],
    '10В': [3, 3, 4, 5, 5]
}

total_sum = 0
total_count = 0

for klass, grade_list in grades.items():
    class_average = sum(grade_list) / len(grade_list)
    print(f"Средний балл  {klass}: {class_average:.2f}")

    total_sum += sum(grade_list)
    total_count += len(grade_list)

parallel_average = total_sum / total_count
print(f"Средний балл по параллели: {parallel_average:.2f}")

Средний балл  10А: 3.60
Средний балл  10Б: 3.60
Средний балл  10В: 4.00
Средний балл по параллели: 3.73

средний балл 11A = 4.58
средний балл 11B = 4.33
средний балл 11C = 4.42
средний балл 11D = 4.33
средний балл 11E = 4.17
средний балл параллели = 4.37

*Задача 5 - Проверка на новизну*

Пользователь вводит числа на экран в строку через пробел. Для каждого числа выведите `y` или `n`. `y` - если данное число до этого встречалось в списке, `n` - если нет.

In [23]:
input_string = input("Введите числа через пробел: ")
numbers = input_string.split()

seen_numbers = set()
result = []

for num in numbers:
    if num in seen_numbers:
        result.append('y')
    else:
        result.append('n')
        seen_numbers.add(num)

print(' '.join(result))

Введите числа через пробел: 1 3 7 9 1 7 5
n n n n y y n

*Задача 6 - Значения роста* (Дополнительная!)

В словаре `students` хранится рост студентов, измеренный на первом занятии физкультуры.
Приходит новый студент, через строку ввода он указывает свои ФИО и рост. Запишите его данные в словарь, и выявите, какой по очереди он будет стоять в шеренге, отсортированной по убыванию роста (расчет в шеренге начинается единицы). Если у двух студентов рост одинаковый, наш студент будет стоять последним.

In [ ]:
students = {
    'ИвановИИ': 170,
    'ЖдановИЮ': 183,
    'ИвановаАА': 168,
    'МаркинаГА': 169,
    'ПетроваАВ': 172,
    'ПотаповЮР': 175,
    'ЛарионовСБ': 177
}

In [24]:
students = {
    'Грегорьев И.И.': 180,
    'Петров А.П.': 175,
    'Малышев С.И.': 182
}

name = input("Введите ФИО студента: ")
height = int(input("Введите рост студента: "))

students[name] = height

sorted_students = sorted(students.items(), key=lambda x: (-x[1], x[0]))

position = sorted_students.index((name, height)) + 1

print(f"{name} будет стоять {position}-ым в шеренге.")

Введите ФИО студента: и и
Введите рост студента: 177
и и будет стоять 3-ым в шеренге.

### Блок 3

В этом блоке отрабатываем умение пользоваться list/dict comprehensions, а также функцию zip.

11 пункт - дополнительный

*Задача 0 - Отрабатываем умение писать генераторы*

Определите генераторы, по описанию в комментариях. Выведите результат генерации на экран

In [ ]:
# 1. сгенерируйте список строк: user1, user2, user3 итд до user15

['user1',
 'user2',
 'user3',
 'user4',
 'user5',
 'user6',
 'user7',
 'user8',
 'user9',
 'user10',
 'user11',
 'user12',
 'user13',
 'user14',
 'user15']

In [ ]:
# 2. сгенерируйте список из 10 случайных значений от -10 до 10

[-1, -3, -8, 9, -2, 0, -1, 9, 9, 9]

In [ ]:
# 3. сгенерируйте список из квадратных корней всех чисел от 16 до 25 включительно. Округлите все значения до двух знаков после запятой

[4.0, 4.12, 4.24, 4.36, 4.47, 4.58, 4.69, 4.8, 4.9, 5.0]

In [ ]:
# 4. сгенерируйте список из четных числа от 40 до 60 включительно без использования if

[40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

In [ ]:
# 5. в предыдущем генераторе добавьте условие: если число делится на 6 - его не включать в список значений

[40, 44, 46, 50, 52, 56, 58]

In [ ]:
# 6. сгенерируйте список из четных числа от 40 до 60 включительно. Если какое то из четных чисел делится на 6 - вместо него поставьте символ 'Y'

[40, 'Y', 44, 46, 'Y', 50, 52, 'Y', 56, 58, 'Y']

In [ ]:
# 7. сгенерируйте словарь, в котором ключи это значения из списка list1, а значения - это коичество символов в названии ключа

{'yellow': 6,
 'green': 5,
 'blue': 4,
 'red': 3,
 'pink': 4,
 'deep-blue': 9,
 'white': 5}

In [ ]:
# 8. сгенерируйте словарь, в котором ключи это значения из списка, полученного в пункте 1, а значения из пункта 3

{'user1': 4.0,
 'user2': 4.12,
 'user3': 4.24,
 'user4': 4.36,
 'user5': 4.47,
 'user6': 4.58,
 'user7': 4.69,
 'user8': 4.8,
 'user9': 4.9,
 'user10': 5.0}

In [ ]:
# 9. дополните предыдущий пункт условием так, чтобы оставить только тех пользователей, у которых в значении не целое число

{'user2': 4.12,
 'user3': 4.24,
 'user4': 4.36,
 'user5': 4.47,
 'user6': 4.58,
 'user7': 4.69,
 'user8': 4.8,
 'user9': 4.9}

In [ ]:
# 10. дополните пункт 8 так, чтобы для всех пользователей из сгенерированных в пункте 1 создалась пара в итоговом словаре

{'user1': 4.0,
 'user2': 4.12,
 'user3': 4.24,
 'user4': 4.36,
 'user5': 4.47,
 'user6': 4.58,
 'user7': 4.69,
 'user8': 4.8,
 'user9': 4.9,
 'user10': 5.0,
 'user11': None,
 'user12': None,
 'user13': None,
 'user14': None,
 'user15': None}

In [ ]:
# 11. пользователь на экран в строку пишет значения для словаря в формате: коля:9 леша:10 ира:12 (Дополнительная!!!)
# распарсите эти значения в словарь с помощью одной строчки кода

коля:9 леша:10 ира:12

{'коля': '9', 'леша': '10', 'ира': '12'}