<a href="https://colab.research.google.com/github/ebro033/dz/blob/main/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Задание 0 - Отрабатываем арифметические операции

С помощью арифметических операторов `+,-,/,*,//,%,**` найдите значения следующих выражений:
1. остаток от деления 101 на 10
2. целая часть от деления 98 на 12
3. кубический корень из 27
4. сложите значения, полученные в пункте 1, 2 и 3. Результат возведите в степень -1

### Задание 0 - Отрабатываем арифметические операции

С помощью арифметических операторов `+,-,/,*,//,%,**` найдите значения следующих выражений:
1. остаток от деления 101 на 10
2. целая часть от деления 98 на 12
3. кубический корень из 27
4. сложите значения, полученные в пункте 1, 2 и 3. Результат возведите в степень -1

In [1]:
result = 101 % 10
print(result)

1

In [2]:
result = 98 // 12
print(result)

8

In [3]:
result = 27 ** (1/3)
print(result)

3.0

In [4]:
sum = 1 + 8 + 3.0
result = sum ** -1
print(result)

0.08333333333333333

### Задание 1 - Отрабатываем логические операторы

Замените знак вопроса на один из логических операторов: `not, and, or`, чтобы получить указанный в комментариях результат выражения

In [5]:
# замените ? так, чтобы получить True
not False

True

In [8]:
# замените ? так, чтобы получить True
True or False

True

In [16]:
# замените ? так, чтобы получить False
(1 < 0) and (9 <= 10)

False

In [19]:
# замените ? так, чтобы получить False
(10 == '10') and True

False

In [20]:
# замените ? так, чтобы получить False
not (10 == 10) and (1 == 1)

False

In [21]:
# замените ? так, чтобы получить False
not ((10 == 10) and (1 == 1))

False

### Задание 2 - Типы данных

Выполните действия, описанные в комментарии каждой ячейки

In [25]:
# ПРИМЕР
# выведите тип данных, полученного в результате следующего действия:
# приведите число 1.222 к типу int
num = 1.222
con = int(1.222)
print(con)

1

In [36]:
# выведите тип данных, полученного в результате следующего действия:
# возьмите пустую строку и умножьте ее на -1
str = ""
result = str * -1
print(result)

In [46]:

# разделите 1234 на 100 . результат приведите к типу str
import builtins
str = builtins.str
number = 1234
result = number / 100
string_result = str(result)
print(string_result)

12.34

In [47]:
# возьмите любую строку, найдите ее длину. результат приведите к типу float
string = "hello Python"
length = len(string)
result = float(length)
print(result)

12.0

In [49]:
# возьмите любую непустую строку, найдите ее длину. результат приведите к типу bool
string = "nice"
bool1 = bool(string)
print(bool1)

True

In [50]:
# возьмите ПУСТУЮ строку, найдите ее длину. результат приведите к типу bool
string = ""
bool2 = bool(string)
print(bool2)

False

подумайте, какие числа при явном приведении в тип bool в результате дают `True`, а какие `False`

In [54]:
bool(5734743577)
bool(3)
bool(100)
bool(1.1)
bool(-5)

bool(0)
bool(0.0)

False